html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}
.header h1 {
  margin: 0;
}

.wordle {
  max-width: 500px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.board {
  flex-grow: 1;
}

.board__tiles {
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 2px 0;
}

.board__tile {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.board__tile.empty {
  border-color: darkgray;
}

.keyboard__key.answered,
.board__tile.answered {
  background-color: gray;
}

.keyboard__key.correct,
.board__tile.correct {
  background-color: gold;
}

.keyboard__key.inPosition,
.board__tile.inPosition {
  background-color: greenyellow;
}

.keyboard {
  padding: 10px 0;
}

.keyboard__row {
  display: flex;
  width: 100%;
  gap: 4px;
  padding: 2px 0;
  justify-content: center;
}

.keyboard__key {
  line-height: 40px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  background-color: lightgray;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  cursor: pointer;
}

.keyboard__key.special {
  border-color: black;
  background-color: darkgrey;
}
